name: Deploy to OVH
on:
  push:
    branches:
      - main
jobs:
  deploy:
    name: SFTP Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Upload to OVH via SFTP
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: 22
          local_path: './*'
          remote_path: '/home/gardvjx/www/'
          sftpArgs: '-o StrictHostKeyChecking=no'
